/* Geral */

body {
  font-family: arial, sans-serif;
  font-size: 13px;
  margin: 0;
}

/* Barras de navegação */

#navbar {
  margin-top: 20px;
}

.nav-list {
  padding: 0 25px;
}

.nav-list li {
  display: inline-block;
  list-style: none;
  padding: 5px 10px;
}

.nav-list li a {
  color: #5f6368;
  text-decoration: none;
  font-size: 13px;
}

.nav-list li a:hover {
  text-decoration: underline;
}

#social-bar {
  text-align: right;
}

/* corpo do site */

#body {
  text-align: center;
}

#google-logo {
  padding-top: 7%;
  margin-bottom: 25px;
}

#input-box {
  width: 43vw;
  height: 60px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#search-input {
  height: 48px;
  border-radius: 24px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  padding: 0 50px;
  border: 1px solid #DFDFDF;
  box-shadow: 0px 0px 5px #DDD;
}

#search-icon, #keyboard-icon, #mic-icon {
  position: absolute;
  top: 15px;
  font-size: 18px;
}

#search-icon {
  left: 20px;
}

#keyboard-icon {
  right: 55px
}

#mic-icon {
  right: 20px
}

#body input[type="submit"] {
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  color: #5f6368;
  height: 34px;
  padding: 0 16px;
  font-size: 14px;
  margin: 15px 5px;
}

/* Rodapé */

footer {
  position: absolute;
  display: block;
  box-sizing: border-box;
  bottom: 0;
  height: 42px;
  width: 100%;
  background-color: #F2F2F2;
  border-top: 1px solid #E4E4E4;
}

#left-bar, #right-bar {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 0;
}

#left-bar {
  text-align: left;
}

#right-bar {
  position: absolute;
  right: 0;
}